/***************************************   Defaults   *****************************************/

* {
    margin: 0;
    padding: 0;

}

:root {

    --main-color: rgb(0,4,46);
    --color-2: rgb(21,22,34);
    --color-3: rgb(48,49,65);
    --color-4: rgb(185,188,226);

}

/***************************************   Header   *****************************************/

#nav {

    background-color: var(--main-color);

}

#nav-text {

    font-size: 2rem;
}

/************************************* Main Front **********************************************/

#search-section {

    background-color: var(--color-4);
    
}